/*!
 * webicon used this site is lisenced under the SIL Open Font License 1.1
 * by http://scripts.sil.org/OFL
 */
html,body{margin:0;padding:0;}
header,footer{}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
#tool_title{text-align:center;}
#counter{display:inline;}
#list{list-style:none;margin:0;padding:0;}
#list li{margin:0;padding:0;position:relative;left:0;background-color:white; -webkit-transition:0.5s ease;}
#list li:nth-child(odd){background-color:#e0e0e0;}
#list li:nth-child(even){background-color:#eee;}
#list li:hover{background-color:#ffffad;cursor:pointer;}
#list li:hover span{display:block;font-size:120%;}
span.content,span.date{display:block;}
span.date{font-size:50%;}
span.content,span.date{-webkit-transition:0.2s ease;}
span.delete,span.done{display:none;padding:8px;}
span.done{background-color:#deffde;color:black;}
span.delete{background-color:#ffdede;color:black;}
span.done:hover{background-color:#6fff6f;}
span.delete:hover{background-color:#ff6f6f;}
.item_contents{padding:8px;}
.change_state{-webkit-transition:0.3s ease;opacity:0;}
li:hover .change_state{opacity:1;}
#formText{width:100%;}
footer{background-color:black;color:white;}
address{margin:0;padding:0;}